<body>
    <div class="container position-relative bg-white d-flex p-0">
      <%= render "shared/sidebar" %>
      <!-- Content Start -->
      <%= render "form", category: @category %>
    </div>
</body>